[submodule "k"]
	path = k
	url = git@github.com:runtimeverification/k.git
[submodule "verified-smart-contracts"]
	path = verified-smart-contracts
	url = git@github.com:runtimeverification/verified-smart-contracts.git
[submodule "evm-semantics"]
	path = evm-semantics
	url = git@github.com:runtimeverification/evm-semantics.git
